discord.py[voice]~=2.3.2
websockets~=12.0
psutil~=5.9.6
wavelink~=3.2.0
asyncurban~=0.3.3
aiohttp~=3.9.3
asyncpg~=0.29.0
asyncpraw~=7.7.1
beautifulsoup4~=4.12.2
setproctitle~=1.3.3
requests~=2.31.0
topggpy~=1.4.0
aioredis~=2.0.1
multiprocessing-logging~=0.3.4